@import "./settings";


body {
  background-image:url($background-path);
  font: $font-primary;
}

a {
  text-decoration: none;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.a-icon-button {
  color: inherit;
}
